<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Grocery Shop || Online Store </title>
    <meta content="Shop online for fresh vegetables, fruits and grocery and get your order delivered at your doorstep. Enjoy instant delivery with Hello Kirana, This is a complete solution of an online grocery and ecommerce website." name="description">
    <link rel="icon" href="{% static "images/logo.png" %}" type="image/x-icon">
  
   
</head>
<body>
    {% include "bazaar/loader_whatsapp.html" %}
    {% include "bazaar/navbar.html" %}
    <br><br><br><br>

      
    <center>
      <h3 style="color: darkolivegreen;">About US</h3>
      <h4 style="color: #9daf7d;">Online Grocery Shop</h4>
<br>

    Online Grocery Shop is an online grocery supermarket aiming to simplify your daily shopping experience. We bring you the same products you get in your regular supermarket and more with wholesale price at your fingertips. Online Grocery Shop is an e-commerce, phone-commerce specializing in grocery home deliveries. With a promise of trust and sincerity, we deliver every product you need to maintain your home, through our extensive and wholesome online market. Customers can refill their monthly stores, through an easy onsite shopping or by placing a telephonic order, reducing their efforts and multiplying their choices.

    <br><br>

    Online Grocery Shop believes in providing the highest level of customer service and is continuously innovating to meet customer expectations. Our On-time Delivery is guaranteed for all your order values. We provide free delivery above Rs.500/-. With the singular goal of making your life easier & safe, we bring a wide range of grocery, Cooking oil, Detergents, soaps and toiletries, fresh fruits & vegetables straight to your doorstep with a commitment of our next day superfast delivery service.
    <br><br>
    From grocery to household cleaning products, Online Grocery Shop has everything you need for your daily needs. Online Grocery Shop is convenience personified. We’ve taken away all the stress associated with shopping for daily essentials, and you can now order all your household products and even buy groceries online without travelling long distances or standing in serpentine queues. Online grocery shopping has never been easier. Need things fresh? Get fresh fruits, vegetables, healthy snacks to indulge our customers towards healthy lifestyle in a mindful way & eggs and more online at your convenience. Hassle-free Home Delivery options.
    <br><br>
    Best quality products for our quality-conscious customers.
    <br><br>
    Online Grocery Shop is synonymous with superior quality and continues to strive for higher levels of customer trust and confidence, by taking feedback and giving our customers what they want. We have added the convenience of soft drinks range, oats, Kellogg’s & more as per customer request. We ensure the best prices and freshest products for our customers.
    <br><br>
    When it comes to payment, we have made it easy for our customers can pay Cash on Delivery (COD).The convenience of shopping for home and daily needs, while not compromising on quality, has made Online Grocery Shop the online supermarket of choice for our happy customers across Muzaffarpur.
    
    <br><br>
    
    YOU STAY SAFE AT HOME. WE DELIVER!!!
    <br><br>

       </center> 
  {% include "bazaar/footer.html" %}
</body>
</html>