<!DOCTYPE html>
{% load static %}
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta content="Shop online for fresh vegetables, fruits and grocery and get your order delivered at your doorstep. Enjoy instant delivery with Hello Kirana, This is a complete solution of an online grocery and ecommerce website." name="description">
  <link rel="icon" href="{% static "images/logo.png" %}" type="image/x-icon">

  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    footer {
      padding: 0px 0px 0px 0px;
      background-color: #212529;
      margin: 0px;
    }


    p {
      text-align: center;

    }
  </style>
</head>

<footer>



  <br>
  <div class="container">

      <p style="color: #9a8080;">
    <a href="/terms-and-condition-of-homebazar" style="text-decoration: none;color: #9a8080;">Terms & conditions</a> ||
    <a href="/privacy-policy-of-homebazar" style="text-decoration: none;color: #9a8080;">Privay Policy</a> ||
    <a href="/aboutus-homebazar" style="text-decoration: none;color: #9a8080;">About Us</a> 
    

  </p>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">

           <p> Copyright &copy; Online Grocery Shop 2023 <br>
             Made with &nbsp;<i style="color:red;"class="fa fa-heart heart"></i> &nbsp; By <a style="text-decoration:none;color:white;" href="https://www.youtube.com/lazycoderonline">LazyCoder</a>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>
