<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Shop online for fresh vegetables, fruits and grocery and get your order delivered at your doorstep. Enjoy instant delivery with Hello Kirana, This is a complete solution of an online grocery and ecommerce website." name="description">
    <link rel="icon" href="{% static "images/logo.png" %}" type="image/x-icon">
  
   
</head>
<body>
    {% include "bazaar/loader_whatsapp.html" %}
    {% include "bazaar/navbar.html" %}
    <br><br><br><br>
  
    <center>
      <h3 style="color: darkolivegreen;">Privacy Policy</h3>
      <h4 style="color: #9daf7d;">Online Grocery Shop</h4>
<br>
    Your privacy is important to Online Grocery Shop.
    <br><br>
    We want to make you feel comfortable and secure shopping in our store.Our privacy policy explains the types of information we gather,how it is protected,what we do with it and how you can change or correct information.By shopping at Online Grocery Shop,you are accepting the practices described in privacy policy.Note: Our privacy policy is subject to change at any time without any prior information.
    <br><br>
    What personal information is collected?
    When you register with Online Grocery Shop,your provide your name, billing and delivery address,phone no.You select a username and password,allowing you to access the Online Grocery Shop. We recommend that you must keep your password confidential to prevent unauthorized use of your account.While placing your order,you may give us special delivery instruction which we follow to your specifications.We use your personal information to send our offers and discounts schemes time to time.
    <br><br>
    How you can change or remove your personal information?
    You can change your personal information at any time by accessing MY ACCOUNT page at Online Grocery Shop or contact Online Grocery Shop customer care.
    <br><br>
    </center>
  {% include "bazaar/footer.html" %}
</body>
</html>